.button-login-google{
    margin-top: 30px;
    min-height: 70px;
    background: #7084F4;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.button-login-google:hover{
    background: #6173de;
}